header{
  background-color: #eeeeff;
  text-align: center;
  font-size:22px;
}

.sheet{
  display:flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width:100px;
  height:100px;
  margin:20px;
  background-color: #fcfefa;
  font-size:22px;
}

.sheetbox{
  background-color: #d0e9d6;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}